body {
    font-family: sans-serif;
}




/* --- HEADER --- */
#page-header .title {
    padding: 20px 140px;
    background-color: #B1C2ED;
}

#page-header h1,
#page-header h2 {
    margin: 0;
}

#page-header h1 {
    padding: 0 0 10px 0;
    color: #fff;
    font-size: 64px;
}

#page-header h2 {
    color: #17328F;
    font-size: 36px;
}




/* --- NAV --- */
#page-header nav {
    padding: 0px 140px;
    background-color: #9C6B6B
}

#page-header ul {
    margin: 0;
    padding: 0;
}

#page-header li {
    display: inline-block;
    margin: 15px 10px 15px 0px;
}

#page-header li > a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#page-header li > a:hover {
    color: #410101;
    text-decoration: underline;
}




/* --- FOOTER --- */
footer {
    width: 100%;
    height: 125px;
    background-color:  #898989;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 125px;
}