main {
    margin: 40px 140px;
}

main > section {
    display: inline-block;
}

main .img-box {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    float: left;
    margin: 0 auto;

}

main .img-box img {
    width: 19%;
}

main > section > article {
    width: 80%;
    float: right;
    background-color:  #C4C4C4;
    padding: 30px;
    box-sizing: border-box;
}

main > section > article > h3 {
    margin: 0;
    font-size: 36px;
}

main > section > article > h3 > span {
    font-size: 14px;
}

main > section > article > h4 {
    margin: 0;
    font-size: 18px;
}

main > section > article > p {
    font-size: 14px;
}