main {
    margin: 40px 140px;
}

main > img {
    width: 100%;
}

#main-section {
    display: inline-block;
    margin: 20px 0 0 0;
}

#main-section article {
    padding: 20px;
    width: calc( 100% - 262px);
    float: left;
    background-color:  #C4C4C4;
    box-sizing: border-box;
}

#main-section article h3 {
    margin: 0;
    font-size: 36px;
}

#main-section article h4 {
    margin: 0;
    font-size: 18px;
}

#main-section article p {
    font-size: 14px;
}

#main-section article a.read-more {
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}




/* --- VIRTICAL MENU --- */

#vertical-menu {
    width: 250px;
    float: right;
}

#vertical-menu h3 {
    margin: 15px 35px;
    font-size: 24px;
}

#vertical-menu nav {
    background-color: #B96767;
}

#vertical-menu nav > ul {
    margin: 0;
    padding: 15px;
}

#vertical-menu li {
    list-style: none;
}

#vertical-menu a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#vertical-menu nav > ul > li ul, 
#vertical-menu nav > ul > li ol {
    padding: 0 0 0 15px;
}







/* --- POKEMON SECTION  --- */
#pokemon-section {
    margin: 20px 0px;
    display: inline-block;
}

#pokemon-section img {
    float: left;
    width: 15%;
}

#pokemon-section article {
    width: calc( 70% - 50px);
    margin: 0px 25px;
    padding: 20px;
    float: left;
    background-color:  #C4C4C4;
    box-sizing: border-box;
}

#pokemon-section article h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

#pokemon-section article p {
    font-size: 14px;
}